.corona-svg {
  margin-left: 100px;
  margin-top: 50px;
}

.corona-text {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  width: 597px;
  height: 195.81px;
  margin-left: 680px;
  margin-top: -250px;
}

@media screen and (max-width: 1399.98px) {
  .corona-svg {
    margin-left: -25px;
    margin-top: 50px;
  }

  .corona-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    width: 597px;
    height: 195.81px;
    margin-left: 600px;
    margin-top: -290px;
  }
}

@media screen and (max-width: 1199.98px) {
  .corona-svg {
    margin-left: -20px;
    margin-top: 50px;
  }

  .corona-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #000000;
    width: 507px;
    height: 195.81px;
    margin-left: 500px;
    margin-top: -290px;
  }
}

@media screen and (max-width: 991.98px) {
  .corona-svg {
    margin-left: -60px;
    margin-top: 50px;
    width: 400px;
    height: 280px;
  }

  .corona-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    width: 437px;
    height: 195.81px;
    margin-left: 370px;
    margin-top: -250px;
  }
}

@media screen and (max-width: 768px) {
  .corona-svg {
    margin-left: -20px;
    margin-top: 50px;
    width: 320px;
    height: 280px;
  }

  .corona-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    width: 377px;
    height: 195.81px;
    margin-left: 350px;
    margin-top: -260px;
  }
}

@media screen and (max-width: 575.98px) {
  .corona-svg {
    margin-left: -10px;
    margin-top: 50px;
    width: 280px;
    height: 250px;
  }

  .corona-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
    width: 250px;
    height: 155.81px;
    margin-left: 300px;
    margin-top: -250px;
  }
}

@media screen and (max-width: 420px) {
  .corona-svg {
    margin-left: -5px;
    margin-top: 50px;
    width: 180px;
    height: 180px;
  }

  .corona-text {
    font-family: Raleway;
    font-style: normal;
    font-size: 12px;
    color: #000000;
    width: 207px;
    height: 505.81px;
    margin-left: 200px;
    margin-top: -240px;
    margin-bottom: -210px;
  }

  .btn3 {
    margin-top: -250px !important;
  }
}

@media screen and (max-width: 280px) {
  .corona-svg {
    margin-left: -5px;
    margin-top: 50px;
    width: 100px;
    height: 150px;
    margin-bottom: 30px;
  }

  .corona-text {
    font-family: Raleway;
    font-style: normal;
    font-size: 8px;
    color: #000000;
    width: 180px;
    margin-left: 95px;
    margin-top: -200px;
    margin-bottom: -290px;
  }
}
