.kelurahan1-svg {
  width: 512.76px;
  height: 292px;
  margin-left: 190px;
  margin-top: 148px;
}

.Bold1 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 137.19%;
  color: #000000;
  margin-left: 790px;
  margin-top: -260px;
}

.p1 {
  width: 493px;
  height: 200.07px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 137.19%;
  color: #000000;
  margin-left: 790px;
}

.kelurahan2-svg {
  width: 398px;
  height: 359px;
  margin-left: 850px;
  margin-top: 120px;
}

.Bold2 {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 137.19%;
  color: #000000;
  margin-left: 200px;
  margin-top: -290px;
}

.p2 {
  width: 493px;
  height: 200.07px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 137.19%;
  color: #000000;
  margin-left: 200px;
}

@media screen and (max-width: 1399.98px) {
  .kelurahan1-svg {
    width: 512.76px;
    height: 292px;
    margin-left: 80px;
    margin-top: 148px;
  }

  .Bold1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 750px;
    margin-top: -260px;
  }

  .p1 {
    width: 493px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 750px;
  }

  .kelurahan2-svg {
    width: 398px;
    height: 359px;
    margin-left: 760px;
    margin-top: 120px;
  }

  .Bold2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 110px;
    margin-top: -290px;
  }

  .p2 {
    width: 493px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 110px;
  }
}

@media screen and (max-width: 1199.98px) {
  .kelurahan1-svg {
    width: 512.76px;
    height: 292px;
    margin-left: 50px;
    margin-top: 148px;
  }

  .Bold1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 670px;
    margin-top: -260px;
  }

  .p1 {
    width: 493px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 670px;
  }

  .kelurahan2-svg {
    width: 398px;
    height: 359px;
    margin-left: 700px;
    margin-top: 100px;
  }

  .Bold2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 60px;
    margin-top: -290px;
  }

  .p2 {
    width: 493px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 60px;
  }
}

@media screen and (max-width: 991.98px) {
  .kelurahan1-svg {
    width: 470.76px;
    height: 272px;
    margin-left: 20px;
    margin-top: 138px;
  }

  .Bold1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 530px;
    margin-top: -220px;
  }

  .p1 {
    width: 433px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 530px;
  }

  .kelurahan2-svg {
    width: 308px;
    height: 309px;
    margin-left: 550px;
    margin-top: 50px;
  }

  .Bold2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 30px;
    margin-top: -290px;
  }

  .p2 {
    width: 433px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .kelurahan1-svg {
    width: 350.76px;
    height: 232px;
    margin-left: 20px;
    margin-top: 138px;
  }

  .Bold1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 400px;
    margin-top: -210px;
  }

  .p1 {
    width: 350px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 400px;
  }

  .kelurahan2-svg {
    width: 258px;
    height: 279px;
    margin-left: 430px;
    margin-top: 40px;
  }

  .Bold2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 20px;
    margin-top: -230px;
  }

  .p2 {
    width: 350px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 20px;
  }
}

@media screen and (max-width: 575.98px) {
  .kelurahan1-svg {
    width: 260.76px;
    height: 232px;
    margin-left: 20px;
    margin-top: 138px;
  }

  .Bold1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 320px;
    margin-top: -190px;
  }

  .p1 {
    width: 250px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 320px;
  }

  .kelurahan2-svg {
    width: 208px;
    height: 229px;
    margin-left: 350px;
    margin-top: 20px;
  }

  .Bold2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 20px;
    margin-top: -200px;
  }

  .p2 {
    width: 250px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 20px;
  }
}

@media screen and (max-width: 420px) {
  .kelurahan1-svg {
    width: 180.76px;
    height: 202px;
    margin-left: 20px;
    margin-top: 138px;
  }

  .Bold1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 220px;
    margin-top: -170px;
  }

  .p1 {
    width: 180px;
    height: 150.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 220px;
  }

  .kelurahan2-svg {
    width: 158px;
    height: 189px;
    margin-left: 250px;
    margin-top: 20px;
  }

  .Bold2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 20px;
    margin-top: -200px;
  }

  .p2 {
    width: 180px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 20px;
  }
}

@media screen and (max-width: 280px) {
  .kelurahan1-svg {
    width: 120.76px;
    height: 182px;
    margin-left: 5px;
    margin-top: 138px;
  }

  .Bold1 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 133px;
    margin-top: -160px;
  }

  .p1 {
    width: 130px;
    height: 150.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 133px;
  }

  .kelurahan2-svg {
    width: 108px;
    height: 159px;
    margin-left: 150px;
    margin-top: 50px;
  }

  .Bold2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 5px;
    margin-top: -200px;
  }

  .p2 {
    width: 130px;
    height: 200.07px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 137.19%;
    color: #000000;
    margin-left: 5px;
  }
}
