.small {
  font-style: normal;
  font-weight: normal;
  font-size: 26px !important;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
}

@media screen and (max-width: 1399.98px) {
  .small {
    font-size: 30px !important;
    text-align: center;
  }
}
@media screen and (max-width: 1199.98px) {
  .small {
    font-size: 26px !important;
    margin-top: -5px;
    text-align: center;
  }
}
@media screen and (max-width: 991.98px) {
  .small {
    font-size: 24px !important;
    margin-top: -10px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .small {
    font-size: 22px !important;
    margin-top: -5px;
    text-align: center;
  }
}

@media screen and (max-width: 575.98px) {
  .small {
    font-size: 20px !important;
    margin-top: -10px;
    text-align: center;
  }
}

@media screen and (max-width: 420px) {
  .small {
    font-size: 18px !important;
    margin-top: -15px;
    text-align: center;
  }
}

@media screen and (max-width: 280px) {
  .small {
    font-size: 14px !important;
    margin-top: -20px;
    text-align: center;
  }
}
