.menu-div {
  text-align: center;
}

.menu-div2 {
  text-align: center;
  margin-top: 70px;
}

.tombol {
  width: 175px;
  height: 180.59px;
  background: #ff0000;
  border-radius: 20px;
  border-color: #ff0000;
  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
  margin-left: 45px;
}

.text-profil1 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil2 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil3 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil4 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil5 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil6 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil7 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil8 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.text-profil9 {
  width: 98px;
  height: 39px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  margin-top: 120px;
  margin-left: 35px;
}

.vektor-img {
  margin-left: 100px;
  margin-top: -100px;
}

.gambarprofil {
  width: 84.83px;
  height: 84.86px;
  margin-top: -300px;
}
