.selengkapnya {
  display: grid;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 20px;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .selengkapnya {
    display: grid;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 20px;
    justify-content: center;
  }
}

@media screen and (max-width: 575.98px) {
  .selengkapnya {
    display: grid;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: -70px;
  }
}

@media screen and (max-width: 420px) {
  .selengkapnya {
    display: grid;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: 5px;
    justify-content: center;
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 280px) {
  .selengkapnya {
    display: grid;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #000000;
    margin-top: -25px;
    justify-content: center;
  }
}
